{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Covoiturage !{% endblock %}

{% block body %}
    
    {% include 'layout/flash-msg.html.twig' %}
    
    <div class="container">
        <h1>Covoiturage</h1>

        {% if app.user %}
            <a class="btn btn-primary" href="{{ path("app_logout") }}">Me déconnecter</a>
            <a class="btn btn-success" href="{{ path("new_path") }}">Nouveau trajet</a>

        {% else %}
            <a class="btn btn-primary" href="{{ path("app_login") }}">Me connecter</a>
            <a  class="btn btn-secondary" href="{{  path("app_register") }}">M'inscrire</a>
        {% endif %}

        <a class="btn btn-success text-white text-uppercase" href="{{ path("search_path") }}">Rechercher un trajet</a>
    </div>
{% endblock %}
