{% extends 'base.html.twig' %}

{% block title %}Rechercher un trajet !{% endblock %}

{% block body %}


    <div class="container">

        {% include 'layout/flash-msg.html.twig' %}

        <div class="form-container">
            <h1> Recherche de trajets </h1>
            {{ form_start(form) }}
            {{ form_row(form.leftSeats) }}
            {{ form_row(form.startTime) }}
            {{ form_row(form.startLocation) }}
            {{ form_row(form.endLocation) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
            <br/>
        </div>

        <div class="paths-container">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            Ville départ
                        </th>
                        <th scope="col">
                            Ville arrivée
                        </th>
                        <th scope="col">
                            Date et heure départ
                        </th>
                        <th scope="col">
                            Place(s) disponible(s)
                        </th>
                        <th scope="col">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for path in paths %}
                        <tr class="path-item">
                            <td>
                                {{ path.startLocation.name }}
                            </td>
                            <td>
                                {{ path.endLocation.name }}
                            </td>
                            <td>
                                {{ path.startTime | date('d/m/Y H:i:s') }}
                            </td>
                            <td>
                                {{ path.seats }}
                            </td>
                            <td>
                                {% if app.user %}
                                    {% set formBook = formBookObject.createView %}
                                    {{ form_start(formBook, {'action': path('book_path', {"id": path.id}) }) }}
                                    {{ form_widget(formBook.numberPassenger) }}
                                    {{ form_widget(formBook.submit) }}
                                    {{ form_end(formBook) }}
                                {% endif %}
                                &nbsp;
                                <a href="{{ path('show_path', {'id': path.id}) }}" class="btn btn-sm btn-primary">
                                    Détails
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="flash-danger">
                            <td colspan="5">Aucun trajet ne correspond à votre recherche.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
